head {
display: none;
}

body {
	display: block;
	color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

h1 {
	color: #66BFBF;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: bold;
    margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 10px;

}

h3 {
    color: #11999E;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	font-size: 1.5rem;
}

p {
	line-height: 2;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-size: 1.1rem;
}

hr {
	border: dotted #d2e9e9 6px;
	border-bottom: none;
	width: 4%;
	margin: 60px auto;
}

a {
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover {
	color: #EAF6F6
}

.top_container {
    background-color: #d4f8e8;
    position: relative;
    padding-top: 90px;

}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
	background-color: #66BFBF;
	padding: 50px 0 20px;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
	
}

.pro {
	text-decoration: underline;
}

.intro {
    width: 40%;
    margin: auto;
}

.contact-message {
	width: 40%;
    margin: 40px auto 60px;
}

.copyright {
	color: #EAF6F6;
    font-size: 1.3rem;
    padding: 30px 0;
}

.top-cloud {
	position: absolute;
	right: 300px;
	top: 150px;
}

.char {
    padding-top: 7%;
    padding-bottom: 7%;
}

.profile-img {
	padding-bottom: 15px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skills-img {
    width: 14rem;
    float: left;
    margin-right: 60px;
	padding-bottom: 30px;
}

.tools-img {
    width: 14rem;
    float: right;
    margin-left: 60px;
}

.education {
    width: 14rem;
    float: left;
    margin-right: 60px;
	padding-bottom: 30px;
}

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}
